.single-stat {
  .single-stat__description {
    width: 50%;
    margin: 0 auto;
    color: rgb(26, 255, 128);
    font-family: "Monofonto";
    font-size: 35px;
    
    .single-stat__image {
      width: 350px;
    }
  }
}
