.popup-window {
  margin: 0 auto;
  margin-top: 2%;
  background: rgba(34, 150, 86, 0.7);
  border: 5px solid rgba(31, 161, 90, 1);
  width: 90%;
  height: 90vh;
  z-index: 5;
  img {
    width: 100%;
  }
}

.top-bar {
  width: 100%;
  height: 30px;
  border-bottom: 5px solid rgba(31, 161, 90, 1);
}

.top-bar__close-btn {
  float: right;
  height: 100%;
  width: 50px;
}
