.inventory {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(10, 15%);
    grid-template-rows: repeat(10, 15%);
    div {
        border: 1px solid rgba(31, 161, 90, 1);
        background-size: contain;
    }
    h3 {
        margin: 0;
    }
    h3,
    p {
        text-shadow: 0px 0px 10px #000;
    }
}
