.your-character {
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    color: rgb(26, 255, 128);
    font-size: 30px;
    font-family: "Monofonto";
    display: flex;
    &:focus {
        outline: none;
    }
    background-image: url("../../../pics/map.jpg");
    background-position: center;
    background-size: 200% cover;
    background-repeat: no-repeat;
    transition: 1s ease-out;
}

.head {
    position: absolute;
    z-index: 4;
    height: 30px;
    left: 1020px;
    top: 500px;
}

.point {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(26, 255, 128, 0.6);
    border-radius: 19px;
    padding: 3px;
    transition: 1s ease-out;
}
