.random-encounter-window {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    background: rgba(34, 150, 86, 0.7);
    border: 5px solid rgba(31, 161, 90, 1);
    width: 90%;
    height: 90vh;
    z-index: 5;
    button {
        width: 100%;
        color: #fff;
        padding: 5px 10px;
        background-color: rgb(42, 184, 106);
        border: 2px solid rgb(34, 150, 86);
        padding-right: 10px;
        font-family: "Monofonto";
        &:first-child {
            margin-right: 10px;
        }
        &:active {
            background-color: rgb(34, 150, 86);
        }
    }
}
