body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#333, #000);
  overflow: hidden;
}
.vaultboyImage {
  padding: 50px;
  width: 200px;
}

.falloutSpecial {
  display: flex;
  justify-content: center;
  align-items: center;
}
