.special-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .special-item__name {
    padding: 0 20px;
    cursor: default;
  }

  .special-item__stat-link {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(26, 255, 128);
  }

  .special-item__button {
    background-color: rgb(26, 255, 128);
    font-size: 20px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;

    &:active {
      background-color: rgb(22, 187, 96);
    }
  }
}
