.special-output {
  font-family: "Monofonto";
  font-size: 35px;
  color: rgb(26, 255, 128);
  margin-left: 32px;

  .special-output__stats-list {
    list-style-type: none;
    margin: 0;
  }
}
